.Header {
    background-color: beige;
    width: auto;
    height: auto;
    font-size: 25px;
    font-style: italic;
    margin-top: 10px;

    h1{
        text-align: center;
        background-color: red;
    }
}